// Fonts
@font-face {
  font-family: 'Luciole';
  src: url("/fonts/Luciole-Regular.ttf") format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole';
  src: url("/fonts/Luciole-Bold.ttf") format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Luciole';
  src: url("/fonts/Luciole-Bold-Italic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Luciole';
  src: url("/fonts/Luciole-Regular-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
